/* pagina principal */

@font-face {
    font-family: 'Old London';
    src: url('../font/OldLondon.woff') format('woff');
}

body {
    background-image: url('../image/castel.png')/* ('../image/castel3.png') */;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.titulo {
    position: absolute;
    font-family: 'Old London';
    font-size: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 5%;
    color: #232A35;
}

.cuadro {
    position: absolute;
    width: 360px;
    height: 260px;
    top: calc(50% - 130px);
    left: calc(50% - 180px);
    border-radius: 24px;
    box-shadow: 2px 2px 20px #232A35;     
}

.cuadro button {
    display: block;
    font-family: 'Didact Gothic', sans-serif;
}

.inicial {
    position: absolute;
    width: 360px;
    height: 260px;
    background: #D9D9D9;
    opacity: 0.7;
    border-radius: 24px;
}

.b-agregar-palabra {
    position: absolute;
    width: 190px;
    height: 70px;
    margin-left: calc(50% - 95px);
    margin-top: 145px;
    border-radius: 28px;
    background: none;
    border: 2px solid #232A35;
    color: #232A35;
    font-size: 20px;
    cursor: pointer;
}

.b-agregar-palabra:hover {
    box-shadow: 3px 3px 30px #A6A6A6;
    transition: 1s transform;
}

.b-agregar-palabra:active {
    color: #000000;
    border-color: #000000;
    background: #D9D9D9;
}

.link-palabras {
    text-decoration: none;
}

.b-iniciar-juego {
    position: absolute;
    width: 200px;
    height: 70px;
    margin-left: calc(50% - 100px);
    margin-top: 50px;
    border-radius: 30px;
    background: #547C7E;
    border: none;
    color: #D9D9D9;
    font-size: 24px;
    cursor: pointer;
}

.b-iniciar-juego:hover {
    box-shadow: 3px 3px 30px #A6A6A6;
    transition: 1s transform;
}

.b-iniciar-juego:active {
    background: #4A5E60;
    color: #FFFFFF;
}

footer {
    position: absolute;
    background: #192323;
    width: 100%;
    height: 70px;
    bottom: 0%;
    opacity: 0.8;
}

.contenedor-footer {
    display: block;
    text-align: center;
    margin: 10px 0 5px 0;
}

footer p {
    display: inline;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

footer p:nth-child(1) {
    color: #A6A6A6;
}

.corazon {
    display: inline-block;
    width: 12px;
}

footer p:nth-child(3) {
    color: #A6A6A6;
}

footer p:nth-child(4) {
    color: #89B35C;
}

footer p:nth-child(5) {
    color: #A6A6A6;
}

.portafolio-andreas {
    color: #A6A6A6;
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: center;
}

/* pagina palabras */

.titulo2 {
    position: absolute;
    font-family: 'Old London';
    font-size: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 4%;
    color: #232A35;
}

.main-palabras {
    position: absolute;
    display: flex;
    width: 900px;
    height: 400px;
    top: calc(50% - 150px);
    left: calc(50% - 450px);
    justify-content: center;
}

.contenedor-baner1 {
    display: flex;
    justify-content: center;
}

.cuadro1 {
    background-color: #D9D9D9;
    width: 180px;
    height: 380px;
    margin: 15px;
    border-radius: 30px;
    opacity: 0.5;
    box-shadow: 2px 2px 20px #232A35;
}

.baner-corona {
    position: absolute;
    width: 160px;
    margin-top: 6%;
}

.cuadro2 {
    width: 480px;
    height: 380px;
    opacity: 0.8;
    background-color: #D9D9D9;
    margin: 15px;
    border-radius: 30px;
    box-shadow: 2px 2px 20px #232A35;
}

.input-texto {
    position: absolute;
    width: 350px;
    height: 180px;
    margin-top: 7%;
    font-size: 20px;
    color: #737373;
    font-family: 'Didact Gothic', sans-serif;
    border-style: none;
    resize: none;
    outline: none;
    background: none;
    text-transform: uppercase;
}

.contenedor-baner1 p {
    position: absolute;
    margin: 250px 0 0 -40px;
    color: #737373;
    font-size: 12px;
    font-family: 'Didact Gothic', sans-serif;
}

.b-guardar {
    position: absolute;
    width: 160px;
    padding: 10px;
    margin-top: 31%;
    margin-left: -190px;
    border-radius: 24px;
    border: none;
    background: #192323;
    color: #E3E0DE;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.b-guardar:hover {
    box-shadow: 3px 3px 30px #A6A6A6;
    transition: 1s transform;
}

.b-guardar:active {
    background: #4A5E60;
    color: #FFFFFF;
}

.b-cancelar {
    position: absolute;
    margin-top: 31%;
    margin-left: -240px;
    width: 160px;
    padding: 9px;
    border-radius: 24px;
    background: none;
    border: 2px solid #232A35;
    color: #232A35;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.b-cancelar:hover {
    box-shadow: 3px 3px 30px #A6A6A6;
    transition: 1s transform;
}

.b-cancelar:active {
    color: #000000;
    border-color: #000000;
    background: #A6A6A6;
    opacity: 0.8;
}

.contenedor-bcomenzar {
    position: absolute;
    width: 200px;
    height: auto;
    margin-top: 28%;
    margin-left: -190px;
    background: #192323;
}

.b-comenzar {
    position: absolute;
    width: 350px;
    padding: 10px;
    margin-top: 40%;
    border-radius: 24px;
    border: none;
    color: #E3E0DE;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.b-comenzar:hover {
    box-shadow: 3px 3px 30px #A6A6A6;
    transition: 1s transform;
}

.b-comenzar:active {
    background: #4A5E60;
    color: #FFFFFF;
}

.cuadro3 {
    background-color: #D9D9D9;
    width: 180px;
    height: 380px;
    margin: 15px;
    border-radius: 30px;
    opacity: 0.5;
    box-shadow: 2px 2px 20px #232A35; 
}

.baner-flechas {
    position: absolute;
    width: 160px;
    margin-top: 6%;
}

/* pagina personajes */

.contenedor-cards {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 350px;
    top: calc(50% - 150px);
    left: calc(50% - 350px);
}

.contenedor-cards h1 {
    position: relative;
    display: inline-block;
    font-size: 26px;
    font-family: 'Old London';
    color: #232A35;
    margin-top: 10px;
}

.cards {
    width: 200px;
    height: 310px;
    margin: 15px;
    border-radius: 24px;
    border: 3px solid #192323;
    cursor: pointer;
}

.cards:hover {
    box-shadow: 2px 2px 20px #232A35;
    transform: scale(1.05);
}

.cards:active {
    border-color: #89B35C;
}

.card1 {
    position: absolute;
    width: 197px;
    height: 310px;
    border-radius: 24px;
    background-color: #D9D9D9;
    opacity: 0.7;
}

.arlequin {
    position: relative;
    width: 170px;
}

.card2 {
    position: absolute;
    width: 197px;
    height: 310px;
    border-radius: 24px;
    background-color: #D9D9D9;
    opacity: 0.7;
}

.hechicero {
    position: relative;
    width: 180px;
    margin-top: -10px;
}

.card3 {
    position: absolute;
    width: 197px;
    height: 310px;
    border-radius: 24px;
    background-color: #D9D9D9;
    opacity: 0.7;
}

.caballero {
    position: relative;
    width: 175px;
    margin-top: -24px;
}

.contenedor-botones {
    position: absolute;
    display: flex;
    width: 360px;
    height: 60px;
    margin-left: calc(50% - 180px);
    margin-top: 38%;
    border-radius: 30px;
}

.contenedor-botones button {
    position: absolute;
    width: 150px;
    border-radius: 24px;
    margin-top: 12px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
}

.div-boton {
    position: absolute;
    display: flex;
    width: 360px;
    height: 60px;
    margin-left: calc(50% - 180px);
    border-radius: 30px;
    background: #D9D9D9;
    opacity: 0.7;
}

.b-comenzar {
    margin-left: 20px;
    background: #547C7E;
    color: #E3E0DE;
    border: none;
    padding: 9px;
    cursor: pointer;
}

.b-comenzar:hover {
    box-shadow: 3px 3px 15px #737373;
    transition: 1s transform;
}

.b-comenzar:active {
    background: #4A5E60;
    color: #FFFFFF;
}

.b-regresar{
    margin-left: 190px;
    border: 2px solid #232A35;
    color: #232A35;
    background: none;
    padding: 7px;
    cursor: pointer;
}

.b-regresar:hover {
    box-shadow: 3px 3px 15px #737373;
    transition: 1s transform;
}

.b-regresar:active {
    color: #000000;
    border-color: #000000;
    background: #A6A6A6;
    opacity: 0.8;
}

/* pagina juego */

.contenedor-principal {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1000px;
    height: 560px;
    top: calc(50% - 280px);
    left: calc(50% - 500px);
    /* background: #232A35; */
}

.contenedor-principal section {
    height: auto;
    margin: 10px;
    /* background: #737373; */
}

.contenedor-principal div {
    border-radius: 30px;
}

.colum1 {
    width: 250px;
    /* background: #4A5E60; */
}
.contenedor-item1 {    
    position: relative;
    height: 310px;
    margin-bottom: 20px;
    margin-right: 30px;
}

#item1 {
    position: absolute;
    width: 220px;
    height: 310px;
    background: #D9D9D9;
    opacity: 0.5;
}

.trompetero {
    position: relative;
    width: 200px;
    margin: -20px 0 0 -20px;
}

.contenedor-item2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 210px;
    margin-right: 30px;
}

#item2 {
    position: absolute;
    height: 210px;
    width: 220px;
    background: #D9D9D9;
    opacity: 0.7;
}

.contenedor-item2 button {
    position: relative;
    width: 160px;
    border-radius: 24px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
}

.b-new {
    margin: 0 0 10px 30px;
    border: none;
    padding: 14px;
    background: #547C7E;
    color: #E3E0DE;
    cursor: pointer;
}

.b-new:hover {
    box-shadow: 3px 3px 15px #737373;
    transition: 1s transform;
}

.b-new:active {
    background: #4A5E60;
    color: #FFFFFF;
}

.b-desistir {
    margin-top: 12px;
    padding: 12px;
    border: 2px solid #232A35;
    color: #232A35;
    background: none;
    cursor: pointer;
}

.b-desistir:hover {
    box-shadow: 3px 3px 15px #737373;
    transition: 1s transform;
}

.b-desistir:active {
    color: #000000;
    border-color: #000000;
    background: #A6A6A6;
    opacity: 0.8;
}

.colum2 {
    width: 420px;
}

.contenedor-item3 {
    display: flex;
    position: relative;
    width: 420px;
    height: 440px;
    margin-bottom: 20px;
}

#item3 {
    width: 420px;
    height: 440px;
    background: #D9D9D9;
    margin-bottom: 20px;
    opacity: 0.9;
}

#horca {
    position: absolute;
    width: 300px;
    margin: -85px -360px;
}

#arlequin-juego {
    position: absolute;
    width: 240px;
    margin: 0 -315px;
}

.contenedor-item4 {
    position: relative;
    width: 420px;
    height: 80px;
}

#item4 {
    position: absolute;
    width: 420px;
    height: 80px;
    background: #D9D9D9;
    opacity: 0.9;
}

.span-acertado {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding-top: 22px;
    margin-left: 5px;
    border-bottom: 2px solid #232A35;
    vertical-align: middle;
    font-size: 24px;
    font-family: 'Didact Gothic', sans-serif;
    color: #232A35;
    text-transform: uppercase;
}

.colum3 {
    width: 250px;
}

.contenedor-item5 {
    position: relative;
    height: 310px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.banner-arco {
    position: absolute;
    width: 160px;
    margin: 10px 0 0 -80px;
}

#item5 {
    position: absolute;
    width: 220px;
    height: 310px;
    background: #D9D9D9;
    opacity: 0.5;
}

.contenedor-item6 {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 210px;
    margin-left: 30px;
}

#item6 {
    position: absolute;
    width: 220px;
    height: 210px;
    background: #D9D9D9;
    opacity: 0.7;
}

#texto1 {
    position: relative;
    padding-top: 25px;
    font-family: 'Special Elite', cursive;
    font-size: 14px;
    letter-spacing: 2px;
    color: #232A35;
}

#texto2 {
    position: relative;
    font-family: 'Old London';
    font-size: 26px;
    margin-bottom: 20px;
    color: #232A35;
}

.contenedor-erradas {
    width: 180px;
    margin-left: calc(50% - 90px);
    margin-top: 10%;
}

.span-errado {
    position: relative;
    font-family: 'Didact Gothic', sans-serif;
    color: #232A35;
    text-transform: uppercase;
    margin: 3px;
    font-size: 24px;
}